@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

body {
    background-color: yellow;
    position: relative;
}

.nav-options {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-options .cont-lef {
    padding: 5px;
    width: 25%;
    height: 100%;
    position: relative;
    color: rgb(27, 175, 126);
}

.nav-options .cont-lef img {
    position: absolute;
    left: 130px;
    top: -10px;
    width: 60px;
    height: 60px;
}

.nav-options .cont-right {
    width: 10%;
    height: 100%;
    text-align: center;
}

.nav-options .cont-right img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.nav-options .cont-right h1 {
    margin: 0 0 5px 10px;
    display: inline-block;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    width: 40%;
    background-color: transparent;
}

.container>h2 {
    margin: 20px 5px 0 40%;
    width: 20%;
    height: 30px;
    font-size: 20px;
    opacity: 0.7;
    color: rgb(135, 148, 148);
}

.box-character {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-character .next,
.prev {
    font-size: 60px;
    width: 60px;
    height: 60px;
    margin: auto;
}

.box-character .next:hover,
.prev:hover {
    color: white;
    border: 1px white solid;
    background-color: red;
}

.box-character .characters {
    background-color: bisque;
    width: 50%;
    height: 100%;
}

.box-character .characters img {
    width: 100%;
}

#username-input {
    margin: 10px 20px 0 35%;
    width: 30%;
    height: 30px;
    text-align: center;
    border: 1px black dotted;
    border-radius: 5px;
}

.box-submit button {
    margin: 20px 20px 0 45%;
    width: 10%;
    height: 30px;
    text-align: center;
    border: 1px black dotted;
    border-radius: 5px;
    background-color: cornflowerblue;
    background-color: green;
}


/* Background Hop */

.section_icon {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    /* background: #111; */
    background: linear-gradient(to bottom right, #008cff, rgb(156, 232, 235), #ffffff);
    /* background: white; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: -100;
    /*  */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.section_icon .row-icon {
    position: relative;
    top: -50%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 64px;
    transform: rotate(-30deg);
}

.i-icon {
    color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
    color: rgba(0, 162, 255, 0.541);
    /* color: white; */
}

.i-icon:hover {
    transition: 0s;
    color: #0f0;
    text-shadow: 0 0 120px #0f0;
}

.section_icon .row-icon .div-icon {
    animation: animate1 80s linear infinite;
    animation-delay: -80s;
}

.section_icon .row-icon .div-icon:nth-child(2) {
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animate1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}


/*  */

.section_icon .row-icon:nth-child(even) .div-icon {
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}

.section_icon .row-icon:nth-child(even) .div-icon:nth-child(2) {
    animation: animate4 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animate3 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animate4 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}


/* End background */