@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.nav-options{
    height: 50px;
    width: 100%;
 
    display: flex;
    justify-content: space-between;
}
.nav-options .cont-lef{
    padding: 5px;
    width: 25%;
    height: 100%;
    position: relative;
    color: rgb(27, 175, 126);
}
.nav-options .cont-lef img{
    position: absolute;
    left: 130px;
    top: -10px;
    width: 60px;
    height: 60px;
}


.nav-options .cont-right{
    width: 10%;
    height: 100%;
    text-align: center;
  
}
.nav-options .cont-right img{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.nav-options .cont-right h1 {
    margin: 0 0 5px 10px;
    display: inline-block;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    width: 40%;

}
.container>h2{
    margin: 20px 5px 0 40%;
    width: 20%;
    height: 30px;
    font-size: 20px;
    opacity: 0.7;
    color: rgb(135, 148, 148);
}
.box-character{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.box-character .next,.prev{
    font-size: 60px;
    width: 60px;
    height: 60px;
   
    margin: auto;
}
.box-character .next:hover,.prev:hover{
    color: white;
    border: 1px white solid;
    background-color: red;
}

.box-character .characters{
    background-color: bisque;
    width: 50%;
    height: 100%;
}
.box-character .characters img{
    width: 100%;
}

#username-input{
    margin: 10px 20px 0 35%;
    width: 30%;
    height: 30px;
    text-align: center;
    border: 1px black dotted ;
    border-radius: 5px;
}
.box-submit button{
    margin: 20px 20px 0 45%;
    width: 10%;
    height: 30px;
    text-align: center;
    border: 1px black dotted ;
    border-radius: 5px;
    background-color: cornflowerblue;
}






