
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#canvas {
    background-image: url('./../../image/areaCoffee.png');
   
    display: block;
    margin: 0 auto;
    border: solid 6px rgb(10, 5, 5);
    border-radius: 10px;
} 

