
body{
    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
}
::-webkit-scrollbar{
    display: none;
}
.boxlogo{
    position: relative;
}
.boxlogo #t1{
    
    position: absolute;
    top: 50px;
}
.boxlogo #t2{
    position: absolute;
    top: 50px;
    left: 200px;
}
.boxlogo #logoCoffee{
    position: absolute;
    top: 10px;
    left: 135px;
}
#logoUser{
    width: 15%;
}

.boxUser{
   position: relative;
}
.boxUser #logoUser{
    position: absolute;
    right: 100px;
}
.boxUser #username{
    position: absolute;
    right: 0px;
    top: 25px;
}

.boxImage{
    margin-left: 40%;
    margin-bottom: 120px;
}
@media screen and (max-width: 500px) {

    .boxlogo #t1{
        top: 15px;
        left: 105px;
    }
    .boxlogo #t2{
        top: 50px;
        left: 100px;
    }
    .boxlogo #logoCoffee{
        top: 10px;
        left: 40px;
    }
    #logoUser{
        width: 15%;
    }
    
    .boxUser{
       position: relative;
    }
    .boxUser #logoUser{
        position: absolute;
        right: 40px;
        font-size: 20%;
        top: 25px;
    }
    .boxUser #username{
        position: absolute;
        right: 20px;
        top: 50px;
    }
    
    .boxImage{
        margin-left: 40%;
        margin-bottom: 120px;
    }
    .boxImage{
        margin-left: 20%;
        margin-bottom: 100px;
    }

}