@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
}
::-webkit-scrollbar{
    display: none;
}
body{
    position: relative;
    width: 100%;
    height: 100vh;
}
#canvas {  
   
    position: absolute;
    margin-top: 0px;
} 
.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
}
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
}

.section .panel-user{
    position: absolute;
    width: 80px;
    height: 100vh;
    top: 0px;
    right: -12px;
    

}
.section .panel-user .lobby,.home{
    background-color: transparent;
    width: 100%;
    color: white;
    border: none;
    font-size: 25px;
    height: 40px;
    z-index: 2;
    opacity: 0.85;
}

 .section .panel-user .btn-messenger{
    position: absolute;
    bottom: 100px;
    left: 10px;
    background-color: transparent;
    border: none;
}
.section .panel-user .btn-messenger img{
    width: 60px;
    height: 60px;
}

.section .panel-user .btn-messenger img:hover{
    width: 70px;
    height: 70px;
}
.section .panel-user .btn-friends img{
    width: 60px;
    height: 60px;
}
.section .panel-user .btn-friends img:hover{
    width: 70px;
    height: 70px;
}
.section .panel-user .btn-friends{
    position: absolute;
    bottom: 0px;
    left: 10px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 60px;
    
}
.section .panel-user .btn-friends:hover{
    color: rgb(253, 66, 169);
}
.sub-panel{
    position: absolute;
    width: 250px;
    height: 100vh;
    top: 0px;
    right: -15px;
    background-color: rgb(50, 58, 80);
    opacity: 0.9;
}

.sub-panel .sub-chat{
    width: 100%;
    height: 100vh;
    transition: width 2s;
}
.sub-panel .sub-chat .nav-chat{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;

}
#titleChat{
    font-family: 'Fruktur', cursive;
    
    color: white;
    margin:10px 0 -20px 20px;
    font-size: 40px;
    background-color: transparent;
    border: none;
}

.navcoffee{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    opacity: 0.6;
}
.navcoffee img{
    width: 100%;
}
.hidden-nav-chat{
    border: none;
    background-color: transparent;
}
.hidden-nav-chat img{
    margin: 20px 0 0 0;
    width: 30px;
    height: 30px;
}
.sub-panel .sub-chat .box-chat,.box-friends,.box-myfriends{
    margin-top: 10%;
    width: 100%;
    height: 65vh;
    color: white;
    padding: 10px;
    overflow-y: scroll;
}


.sub-panel .sub-chat .box-send{
    margin-bottom: 0px;
    width: 100%;
    display:  flex;
    justify-content: space-between;
}
.sub-panel .sub-chat .box-send #input-messenger{
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
}
.sub-panel .sub-chat .box-send #chat-messenger-submit{
  
    background-color: transparent;
    border: none;
    color: white;
    float: right;
    font-size: 35px;
}
.sub-panel .sub-chat .box-send #chat-messenger-submit:hover{
    color: rgb(185, 7, 7);
}

.emoji ul {
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
}
.emoji ul li{
    list-style-type:none;
    border-radius: 5px;
}
.emoji ul li:hover{
    background-color: rgb(44, 151, 240);
}
.emoji ul li  img{
    width: 30px;
    height: 30px;
}
.box-chat div{
    margin-bottom: 20px;
}
.box-chat b{
    display: inline-block;

    font-size: 25px;
    border-bottom: 1px dotted white;
}
.box-chat div>img{
    width: 15%;
}
.box-chat div p>img{
    width: 100px;
    height: 100px;
}
.box-chat p{
    width: 70%; 
    margin-left: 20%;
    overflow: hidden;
    text-overflow: clip;
    word-wrap: break-word;
}

#boxMess{
    position: absolute;
    left: 0px;
    top: 0px;
}
.boxMessenger{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}
.subboxMessenger{
    position: relative;
}
.bg_boxMessenger{
    position: absolute;
    width: 100px;
    height: 100px;
}
.icon_boxMessenger{
    position: absolute;
    top: 10px;
    left: 10px;
    width:70px;
    z-index: 10px;
}
.headMess{
    position: absolute;
    top: 0px;
    left: 0px;
}
.text_boxMessenger{
    position: absolute;
    top: 20px;
    left: 5px;
    font-size: 12px;
    width: 100px;
    height: 80px;
    overflow-y: scroll;
}

.checkoutPaypal{
    width: 600px;
    height: 345px;
}
.shareMoney{
    width: 600px;
    height: 350px;
}
.dropdown button{
    height: 40px;
}
.informationUser{
    position: absolute;
    max-width: 800px;
    height: 300px;
    left: 25%;
    top: 20%;
    border: none;
    border-radius: 20px;
}
.sex_age{
    width: 200px;
}
.subtext{
    margin-bottom: -5px;
}
@media screen and (max-width: 500px) {
    div.alertInvite{
        width: 40%;
    }
    div.informationUser{
        z-index: 20;
        width: 100%;
        height: 300px;
        left: 0px;
        top: 120px;
        height: 500px;
    }
    div.informationUser img{
        width: 50%;
       
        margin-left: 25%;
    }
    div.informationUser #aliasU{
        text-align: center;
    }
    #closeInfo{
        position: absolute;
        top: 0px;
        right:  0px;
    }
}