*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#canvas {
    background-image: url('../image/room.png');
    /* background-color: aqua; */
    display: block;
    margin: 0 auto;
    border: solid 6px rgb(10, 5, 5);
    border-radius: 10px;
} 
/* body{
   
    position: relative;
    height: 100%;
    

}
/* .bg{
    background-image: url('../image/room.png');
    width: 1920px;
    height: 1080px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dino{
    position: absolute;
    width: 100px;
    height: 100px;
   
    left: 10px;
    top: 500px;

}
.dino img {
    width: 100px;
    height: 100px;
}
.container{
    width: 500px;
    opacity: 0.5;
    left: 700px;
    top: 230px;
}
#coffe-1,#coffe-2,#coffe-3,#coffe-4,#coffe-5{
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: absolute;
}

 #coffe-1{ 
    left: 400px;
    top: 250px;
}
 #coffe-2{
   
    left: 1200px;
    top: 250px;
}
#coffe-3{
    left: 1500px;
    top: 250px;

}
 #coffe-4{
 
    left: 600px;
    top: 700px;
}
#coffe-5{
    
    left: 1180px;
    top: 700px;
} */

