{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Chatty</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <!-- <link rel="stylesheet" href="{%static 'css/style_room.css'%}"> -->
        <link rel="stylesheet" href="{%static 'css/rooms/style_area.css'%}">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="container">
            <div class="eventCustomer">
                <button id="event-Order">Nhấn E để mua Coffee</button>
            </div> 
            <div class="menu">
                
                <div class="dt-menu">
                    <button class="btn-exitMenu">X</button>
                    <ul class="menu1">
                        <li id="1"><p>Coffe 1</p><p>5$</p></li>
                        <li id="2"><p>Coffe 2</p><p>5$</p></li>
                        <li id="3"><p>Coffe 3</p><p>5$</p></li>
                    </ul>
                    <ul class="menu2">
                        <li id="4"><p>Coffe 4</p><p>5$</p></li>
                        <li id="5"><p>Coffe 5</p><p>5$</p></li>
                        <li id="6"><p>Coffe 6</p><p>5$</p></li>
                    </ul>
                    <ul class="menu3">
                        <li id="7"><p>Coffe 7</p><p>5$</p></li>
                        <li id="8"><p>Coffe 8</p><p>5$</p></li>
                        <li id="9"><p>Coffe 9</p><p>5$</p></li>
                        <li id="10"><p>Coffe 10</p><p>5$</p></li>
                    </ul>
                </div>
                <button class="btn-order">Order1</button>
                
            </div>
        </div>
        <canvas id="canvas">
            
        </canvas>
        <div></div>
       {{ room_name|json_script:"json-roomname" }}
       {{ username|json_script:"json-username" }}
        
      <script src="{%static 'js/area.js'%}"></script>
    
    </body>
</html>