{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Chatty</title>
        <!-- <link rel="stylesheet" href="{%static 'css/style_room.css'%}"> -->
        <link rel="stylesheet" href="{%static 'css/rooms/style_area.css'%}">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{%static 'css/rooms/style_room.css'%}">
    </head>
    <body>
        <div class="container">
        </div>
        <div class="container">
            <div id="myMoney"><div> <img src="/static/image/dollars.png" alt=""> <p>{{money}}</p></div></div>
            <div class="eventCustomer">
                <button id="event-Order">Nhấn E để mua Coffee</button>
            </div>
            <div class="menu">
                <div class="dt-menu">
                    <button class="btn-exitMenu">X</button>
                    <ul class="menu1">
                        <li id="cof1"><p>Coffe 1</p><p class="price">15$</p></li>
                        <li id="cof2"><p>Coffe 2</p><p class="price">20$</p></li>
                        <li id="cof3"><p>Coffe 3</p><p class="price">30$</p></li>
                    </ul>
                    <ul class="menu2">
                        <li id="cof4"><p>Coffe 4</p><p class="price">10$</p></li>
                        <li id="cof5"><p>Coffe 5</p><p class="price">30$</p></li>
                        <li id="cof6"><p>Coffe 6</p><p class="price">25$</p></li>
                    </ul>
                    <ul class="menu3">
                        <li id="cof7"><p>Coffe 7</p><p class="price">15$</p></li>
                        <li id="cof8"><p>Coffe 8</p><p class="price">15$</p></li>
                        <li id="cof9"><p>Coffe 9</p><p class="price">25$</p></li>
                        <li id="cof10"><p>Coffe 10</p><p class="price">35$</p></li>
                    </ul>
                </div>
                <button class="btn-order">Order1</button>
            </div>
            <div class="section">
                <div class="panel-user">
                    <button class="home lobby"> <img src="/static/image/Drink_of_Store_1/Drink_cof7.png" alt="coffe"></button>
                    <button class="btn-messenger"><img src="/static/image/Button/messenger.png" alt="messenger"></i></button>
                    <button class="btn-friends"><img src="/static/image/Button/people.png" alt="people"></i></button>
                </div>
                <div class="sub-panel">
                    <div class="sub-chat">
                        <div class="nav-chat">
                            <h1 id="titleChat">Chat</h1>
                            <button class="hidden-nav-chat"> <img src="/static/image/Button/hidden.png" alt="hidden"> </p>
                        </div>
                        <div class="navcoffee">
                            <img src="/static/image/navcoffee.png" alt="navcoffee">
                        </div>
                        <div class="box-chat" style="overflow-y: scroll;">
                            {% for m in messages %}
                            <div>
                                <img src="/static/image/avtUser/p2.png" alt=""><b> {{ m.username }}</b>:<p>
                                    {% if 'emoji' in m.content %}
                                     <img src='/static/image/emoji/{{ m.content }}.gif' alt="emoji">
                                    {%  else %}
                                     {{ m.content }}
                                    {% endif %}
                                
                                </p>
                            </div>
                            {% endfor %} 
    
                        </div>
                        <div class="box-friends" style="overflow-y: scroll;">
                        </div>
                        <div class="emoji">
                            <ul>
                                <li  id="emoji1"> <img src="/static/image/emoji/emoji1.gif" alt="emoji1"></li>
                                <li  id="emoji2"> <img src="/static/image/emoji/emoji2.gif" alt="emoji1"></li>
                                <li  id="emoji1"> <img src="/static/image/emoji/emoji1.gif" alt="emoji1"></li>
                                <li  id="emoji2"> <img src="/static/image/emoji/emoji2.gif" alt="emoji1"></li>
                                <li  id="emoji1"> <img src="/static/image/emoji/emoji1.gif" alt="emoji1"></li>
                                <li  id="emoji2"> <img src="/static/image/emoji/emoji2.gif" alt="emoji1"></li>
                            </ul>
                        </div>
                        <div class="box-send">
                            <input id="input-messenger" type="text">
                            <button id="chat-messenger-submit"><i class='bx bxs-send' ></i></button>
                        </div>
                    </div>
                </div>
          </div>
        </div>
        <canvas id="canvas">
        </canvas>
        <div></div>
       {{ room_name|json_script:"json-roomname" }}
       {{ username|json_script:"json-username" }}
      <script src="{%static 'js/area.js'%}"></script>
      <script src="{%static 'js/animate-btn.js'%}"></script>
    </body>
</html>