{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Chatty</title>
        <!-- <link rel="stylesheet" href="{%static 'css/style_room.css'%}"> -->
        <link rel="stylesheet" href="{%static 'css/rooms/style_area.css'%}">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{%static 'css/rooms/style_room.css'%}">
    </head>
    <body>
        <div class="container">
        </div>
        <div class="container">
            <div class="eventCustomer">
                <button id="event-Order">Nhấn E để mua Coffee</button>
            </div>
            <div class="menu">
                <div class="dt-menu">
                    <button class="btn-exitMenu">X</button>
                    <ul class="menu1">
                        <li id="1"><p>Coffe 1</p><p>5$</p></li>
                        <li id="2"><p>Coffe 2</p><p>5$</p></li>
                        <li id="3"><p>Coffe 3</p><p>5$</p></li>
                    </ul>
                    <ul class="menu2">
                        <li id="4"><p>Coffe 4</p><p>5$</p></li>
                        <li id="5"><p>Coffe 5</p><p>5$</p></li>
                        <li id="6"><p>Coffe 6</p><p>5$</p></li>
                    </ul>
                    <ul class="menu3">
                        <li id="7"><p>Coffe 7</p><p>5$</p></li>
                        <li id="8"><p>Coffe 8</p><p>5$</p></li>
                        <li id="9"><p>Coffe 9</p><p>5$</p></li>
                        <li id="10"><p>Coffe 10</p><p>5$</p></li>
                    </ul>
                </div>
                <button class="btn-order">Order1</button>
            </div>
            <div class="section">
                 <div class="panel-user">
                    <button class="lobby">Lobby</button>
                    <button class="btn-messenger"><i class='bx bxs-message-dots' ></i></button>
                    <button class="btn-friends"><i class='bx bxs-user-detail'></i></button>
                </div>
                <div class="sub-panel">
                    <div class="sub-chat">
                        <div class="nav-chat">
                            <h1 id="titleChat">Chat</h1>
                            <button class="hidden-nav-chat"> >> </p>
                        </div>
                        <div class="box-chat" style="overflow-y: scroll;">
                            {% for m in messages %}
                                <b><i class='bx bx-user-circle'></i> {{ m.username }}</b>:<p>{{ m.content }}</p>
                            {% endfor %} 
                        
                        </div>
                        <div class="box-friends" style="overflow-y: scroll;">
                            <b><i class='bx bx-user-circle'></i> ALEX</b>
                        </div>
                        <div class="box-send">
                            <input id="input-messenger" type="text">
                            <button id="chat-messenger-submit"><i class='bx bxs-send' ></i></button>
                        </div>
                    </div>
                </div>
          </div>
        </div>
        <canvas id="canvas">
            
        </canvas>
        <div></div>
       {{ room_name|json_script:"json-roomname" }}
       {{ username|json_script:"json-username" }}
        
      <script src="{%static 'js/area.js'%}"></script>
      <script src="{%static 'js/animate-btn.js'%}"></script>
    </body>
</html>