{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>
        <title>GattherCoffee</title>
        <link rel="stylesheet" href="{%static 'css/rooms/style_setting.css'%}">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    </head>

    <body>
        <div class="nav-options">
            <div class="cont-lef"> 
                <h1 id="logo"> COFFEE &nbsp;&nbsp;&nbsp;&nbsp; GATHER</h1>
                <img src="{%static 'image/background_HOME/Food/Coffee_1.png'%}" alt="img">
            </div>
            <div class="cont-right">
                 <img src="{%static 'image/avtUser/p1.png'%}" alt="avatar"><h1>{{username}}</h1>
            </div>
        </div>
        <div class="container">

            <h2>Customer</h2>
            <input type="text" placeholder="Username" id="username-input">
            <h2>Character</h2>
            <div class="box-character">
                <div class="prev"><i class='bx bx-skip-previous' ></i></div>
                <div class="characters">
                    <img src="{%static 'image/avt-dora.png'%}" alt="characters">
                </div>
                <div class="next"><i class='bx bx-skip-next' ></i></div>
            </div>

            <div class="box-submit">
                <button id="room-name-submit">Apply</button>
            </div>
        </div>
        <script>
            var avtIndex=1;
            function Character(index){
                var avt=document.querySelector(".characters img");
                if (index==1) avt.src="{%static 'image/avt-1.png'%}";
                else if (index==2) avt.src="{%static 'image/avt-2.png'%}";
                else avt.src="{%static 'image/avt-3.png'%}";
            }
            Character(avtIndex);
            document.querySelector(".prev").addEventListener("click",()=>{
                avtIndex--;
                if(avtIndex<1){
                    avtIndex=3;
                }
                Character(avtIndex);
            })
            document.querySelector(".next").addEventListener("click",()=>{
                avtIndex++;
                if(avtIndex>3){
                    avtIndex=1;
                }
                Character(avtIndex);
            })
            document.querySelector('#room-name-submit').onclick = function(e) {
                sessionStorage.setItem("avtCharacters",avtIndex);
                var userName = document.querySelector('#username-input').value;
                window.location.replace('lobby' + '/?username=' + userName);
            };
           
        </script>
    </body>
</html>