{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="{% static 'css/pages/base.css'%}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Antique+Soft&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    {% block stylecss %} {% endblock %}
    <title>GatherCoffee</title>
</head>
<body>
    <nav>
        <div class="cont-logo"> 
            <h1 id="logo"> COFFEE &nbsp;&nbsp;&nbsp;&nbsp; GATHER</h1>
            <img src="/static/image/background_HOME/Food/Coffee_1.png" alt="coffe">
        </div>
        <ul class="nav_links">
            <li>
                <a href="/">Home</a> </li>
            <li>
                <a href="/about">About</a> </li>
            <li>
                <a href="#">Contact</a> </li>
            <li>
                <a href="#">Social</a></li>
            <li>
                <a href="#">Facebook</a></li>
        </ul>
        {% if username == "" %}
            <button id="btn-login">LOG IN</button>
        {% else  %}
            <div class="box-information">
                <button id="info-users"><img src="/static/image/avtUser/p1.png" alt="info"><p>{{username}}</p> 
                </button>
                <div class="panel-info">
                    <button id="btn-getuser"><i class='bx bxs-user-circle' ></i><p>Infomation User</p> </button>
                    <button id="btn-logout"><i class='bx bx-log-out' ></i> <p>Log Out</p> </button>
                </div>
            </div>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Member</h4>
                    <ul>
                        <li><a href="https://www.facebook.com/thanhloizx">Nguyen Thanh Loi</a></li>
                        <li><a href="https://www.facebook.com/bachlapkim0811">Nguyen Ngoc HOp</a></li>
                        <li><a href="https://www.facebook.com/ngocluan.2001">Doan Ngoc Luan</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/thanhloizx"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="footer-col">
                    <h4>Address contact</h4>
                    <a href="https://www.uit.edu.vn/">
                        <p>University of Information Technology <br> Khu pho 6, Phuong Linh Trung, tp Thu Duc, Ho Chi Minh
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="{%static 'js/base.js'%}"></script>

</body>
</html>