{% extends "./base.html" %}
{% load static %}
{% block stylecss%}
<link rel="stylesheet" href="{% static 'css/pages/style.css'%}">
<link rel="stylesheet" href="{% static 'css/pages/textEffect.css'%}">

{% endblock %}
{% block content %}
    <section class="content">
        <div class="cont-left">
            <h1>Welcome to coffee online</p>
            <div class='console-container'><span id='text'>1212</span><div class='console-underscore' id='console'>&#95;</div></div>

            {% if username == "" %}
                <button id="btn-register">Register now</button>
            {% else %}
                <button id="btn-gocoffee">Go Coffee Now</button>
            {% endif %}
        </div>
        <div class="cont-right">
            <div class=div_cha1><img src="/static/image/background_HOME/Character/Cha_1/Character_1.png" alt="hinh1" id="image"> </div>
            <div class=div_cha2><img src="/static/image/background_HOME/Character/Cha_2/character_2.png" alt="hinh2" id="image"> </div>
            <div class=div_cha3><img src="/static/image/background_HOME/Character/Cha_3/character_3.png" alt="hinh3" id="image"> </div>
            <div class=div_cha4><img src="/static/image/background_HOME/Character/Cha_4/character_4.png" alt="hinh4" id="image"> </div>
            <div class=div_cha5><img src="/static/image/background_HOME/Character/Cha_5/character_5.png" alt="hinh5" id="image"> </div>
            <div class=div_cha6><img src="/static/image/background_HOME/Character/Cha_6/character_6.png" alt="hinh6" id="image"> </div>
            <div class=div_cha7><img src="/static/image/background_HOME/Character/Cha_7/character_7.png" alt="hinh7" id="image"> </div>
            <div class=div_cha8><img src="/static/image/background_HOME/Character/character_8 (center).png" alt="hinh8" id="image"> </div>

            <div class=div_mess1><img src="/static/image/background_HOME/Character/Cha_1/mess_1.png" alt="mess1" id="image"> </div>
            <div class=div_mess2><img src="/static/image/background_HOME/Character/Cha_2/mess_2.png" alt="mess2" id="image"> </div>
            <div class=div_mess3><img src="/static/image/background_HOME/Character/Cha_3/mess_3.png" alt="mess3" id="image"> </div>
            <div class=div_mess4><img src="/static/image/background_HOME/Character/Cha_4/call_4.png" alt="mess4" id="image"> </div>
            <div class=div_mess5><img src="/static/image/background_HOME/Character/Cha_5/call_5.png" alt="mess5" id="image"> </div>
            <div class=div_mess6><img src="/static/image/background_HOME/Character/Cha_6/mess_6.png" alt="mess6" id="image"> </div>
            <div class=div_mess7><img src="/static/image/background_HOME/Character/Cha_7/call_7.png" alt="mes7" id="image"> </div>
        </div>
    </section>
   
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
    <script src="{%static 'js/textEffect.js' %}"></script>

{% endblock %}