{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pages/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/pages/textEffect.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <title>Document</title>

    <!-- hop them -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>

<body>
    <nav>
        <div class="cont-logo"> 
            <h1 id="logo"> COFFEE &nbsp;&nbsp;&nbsp;&nbsp; GATHER</h1>
            <img src="/static/image/background_HOME/Food/Coffee_1.png" alt="">
        </div>
        <ul class="nav_links">
            <li>
                <a href="#">Home</a> </li>
            <li>
                <a href="#">About</a> </li>
            <li>
                <a href="#">Contact</a> </li>
            <li>
                <a href="#">Social</a></li>
            <li>
                <a href="#">Facebook</a></li>
        </ul>
        <button id="btn-login">LOG IN</button>
    </nav>

    <section class="content">
        <div class="cont-left">
            <h1>Welcome to coffee online</p>
            <div class='console-container'><span id='text'>1212</span><div class='console-underscore' id='console'>&#95;</div></div>
                <!-- <h5>This is the best web presentation coffee base</h2> -->
                <button id="btn-register">Register now</button>
        </div>
       
        <!-- Hop them 24/10/2021 -->
        <div class="cont-right">
            <div class=div_cha1><img src="/static/image/background_HOME/Character/Cha_1/Character_1.png" alt="hinh1" id="image"> </div>
            <div class=div_cha2><img src="/static/image/background_HOME/Character/Cha_2/character_2.png" alt="hinh2" id="image"> </div>
            <div class=div_cha3><img src="/static/image/background_HOME/Character/Cha_3/character_3.png" alt="hinh3" id="image"> </div>
            <div class=div_cha4><img src="/static/image/background_HOME/Character/Cha_4/character_4.png" alt="hinh4" id="image"> </div>
            <div class=div_cha5><img src="/static/image/background_HOME/Character/Cha_5/character_5.png" alt="hinh5" id="image"> </div>
            <div class=div_cha6><img src="/static/image/background_HOME/Character/Cha_6/character_6.png" alt="hinh6" id="image"> </div>
            <div class=div_cha7><img src="/static/image/background_HOME/Character/Cha_7/character_7.png" alt="hinh7" id="image"> </div>
            <div class=div_cha8><img src="/static/image/background_HOME/Character/character_8 (center).png" alt="hinh8" id="image"> </div>

            <div class=div_mess1><img src="/static/image/background_HOME/Character/Cha_1/mess_1.png" alt="mess1" id="image"> </div>
            <div class=div_mess2><img src="/static/image/background_HOME/Character/Cha_2/mess_2.png" alt="mess2" id="image"> </div>
            <div class=div_mess3><img src="/static/image/background_HOME/Character/Cha_3/mess_3.png" alt="mess3" id="image"> </div>
            <div class=div_mess4><img src="/static/image/background_HOME/Character/Cha_4/call_4.png" alt="mess4" id="image"> </div>
            <div class=div_mess5><img src="/static/image/background_HOME/Character/Cha_5/call_5.png" alt="mess5" id="image"> </div>
            <div class=div_mess6><img src="/static/image/background_HOME/Character/Cha_6/mess_6.png" alt="mess6" id="image"> </div>
            <div class=div_mess7><img src="/static/image/background_HOME/Character/Cha_7/call_7.png" alt="mes7" id="image"> </div>
        </div>
        <!-- End Hop them 24/10/2021 -->

    </section>

    <!-- <footer class="footer">
            <div class="about">
                <h1>Sinh Viên Thực Hiện</h1>
                <ul>
                    <li>Nguyễn Thành Lợi</li>
                    <li>Nguyễn Ngọc Họp</li>
                    <li>Đoàn Ngọc Luân</li>
                </ul>
            </div>
            <div class="school">
                
                <h1>Trường Đại Học Công Nghệ Thông Tin </h1>
              
            </div>
            <div class="mail">
                <box-icon name='mail-send'></box-icon>
                <p>19521771@gmail.com</p>
            </div>
            <div class="school"></div>
        </footer> -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Member</h4>
                    <ul>
                        <li><a href="https://www.facebook.com/thanhloizx">Nguyen Thanh Loi</a></li>
                        <li><a href="https://www.facebook.com/bachlapkim0811">Nguyen Ngoc HOp</a></li>
                        <li><a href="https://www.facebook.com/ngocluan.2001">Doan Ngoc Luan</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/thanhloizx"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div class="footer-col">
                    <h4>Address contact</h4>
                    <a href="https://www.uit.edu.vn/">
                        <p>University of Information Technology <br> Khu pho 6, Phuong Linh Trung, tp Thu Duc, Ho Chi Minh
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
    <script src="{%static 'js/textEffect.js' %}"
    <script>
        document.getElementById("btn-login").addEventListener("click", () => {
            window.location.href = "/login";
        });
        document.getElementById("btn-register").addEventListener("click", () => {
            window.location.href = "/create";
        });






    </script>
</body>

</html>