<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/pages/info.css">
</head>
<body>
    <div class="container">
       
        <div class="info-left">
            <img src="/static/image/avtUser/p3.png" alt="info">
            <h2>{{username}}</h2>
        </div>
        <div class="info-right">
            <div class="email"> <p>Email:</p> <p>{{ email }}</p></div>
            <div class="fullname"> <p>Fullname:</p> <p> {{fullname}}</p></div>
            <div class="phone"> <p>Phone Number:</p> <p>{{ phonenumber}}</p></div>
            <div class="address"> <p>Address: </p> <p> {{address}} </p></div>
        </div>
    </div>
</body>
</html>