{% extends "./base.html" %}
{% load static %}
{% block stylecss%}

<link rel="stylesheet" href="{% static 'css/pages/stylelogin.css'%}">
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
 -->
{% endblock %}
{% block content %}
<section>
    <div class="imgBx">
        <img src="{%static 'image/cofe_create.jpg'%}" >
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h2>COFFE GATHER</h2>
            <form action="" method="post">{%  csrf_token %}
                {% for field in form %}
                    {% if field.name == 'email'%}
                        <div class="inputBx">
                            <span for="exampleInputEmail1">Email address</span>
                            {{field}}
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                    {% elif field.name == 'fullname' or field.name == 'username'%}
                        <div class="inputBx">
                            <span for="exampleInputEmail1" >User Name</span>
                            {{field}}
                        </div>
                    {% elif field.name == 'password'%}
                        <div class="inputBx">
                            <span for="exampleInputPassword1">Password</span>
                            {{field}}
                        </div>
                    {% elif field.name == 'repassword'%}
                        <div class="inputBx">
                            <label for="exampleInputPassword1">Re Password</label>
                            {{field}}
                        </div>
                    {% endif %}
                {% endfor%}    
                <div class="inputBx">
                    <input type="submit" value="Sign in" name="">
                </div>

                {% if login == True %}
                <div class="inputBx">
                    <div>If you don't have account:<a href="/create" class="link-primary ">Create</a></div>
                 </div>
                {% else %} 
                <div class="inputBx">
                   <div>If you have account:<a href="/login" class="link-primary" >     Login   </a></div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script>
    document.getElementById("btn-home").addEventListener("click",()=>{
        window.location.href="/"
    })
</script>
    
{% endblock %}


