.informationUser{
    margin-top:  100px;
    margin-left: 120px;
    border: none;
    height: 550px
}
.subtext{
    margin-bottom: 0px;
}
.informationUser .sex_age{
    position: relative;
}
.d-sex{
    position: absolute;
    left: 0px;
    top: 0px;
} 
.d-age{
    position: absolute;
    left: 250px;
    top: 0px;
}
.informationUser .em_phone{
    position: relative;
    margin-top: 100px;
}

.d-email{
    position: absolute;
    left: 0px;
    top: 0px;
} 
.d-phone{
    position: absolute;
    left: 250px;
    top: 0px;
}
.editInfo,.saveInfo{
    font-size: 30px;
    margin-left: 180px;
}
@media screen and (max-width: 500px) {
    div.informationUser{
        margin-top:  0px;
        margin-left: 0px;
        border: none;
        height: 100%;
    }
    .subtext{
        margin-bottom: 0px;
    }
    .informationUser .sex_age{
        position: relative;
    }
    .d-sex{
        position: absolute;
        left: 0px;
        top: 0px;
    } 
    .d-age{
        position: absolute;
        left: 250px;
        top: 0px;
    }
    .informationUser .em_phone{
        position: relative;
        margin-top: 100px;
    }
    
    .d-email{
        position: absolute;
        left: 0px;
        top: 0px;
    } 
    .d-phone{
        position: absolute;
        left: 250px;
        top: 0px;
    }
    .editInfo,.saveInfo{
        font-size: 30px;
        margin-left: 180px;
    }
}