@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@424&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

body #titlecoffe{
    font-family: 'Gemunu Libre', sans-serif;
    margin: auto;
    margin-top: 150px;
    width: 300px;
    color: aqua;
}



