.p-3{
    background-color: white;
    padding-top: 0px;
}
.p-3 .row{
    padding-top:40px;
}
.p-3 .row .col-lg-5 .text-truncate{
    font-size: 30px;
    color: #86d3ff;
    font-weight: 800;
    font-family: Rokkitt;
    text-align: center;
}
.p-3 .row .col-lg-5 img{
    display: block;
    margin-left: 60px;
}

.p-3 .row .col-lg-5 .btn-group .btn{
    background-color: #86d3ff;
    font-weight: 800;
    font-family: Rokkitt;
    font-size: 25px;
    color: white;
    margin-top: 40px;
    margin-left: 180px;
}
#text{
    opacity: 0.5;
   
}
@media screen and (max-width: 500px) {
    .p-3{
        background-color: white;
        padding-top: 0px;
    }
    .p-3 .row{
        padding-top:0px;
    }
    .p-3 .row .col-lg-5 .text-truncate{
        font-size: 20px;
        color: #858585;
        font-weight: 800;
        font-family: Rokkitt;
        text-align: center;
    }
    .p-3 .row .col-lg-5 img{
        height: 200px;
        display: block;
        margin-left: 60px;
        margin-top: 0px;
    }
    .p-3 .row .col-lg-5 .btn-group .btn{
        background-color: #86d3ff;
        font-weight: 800;
        font-family: Rokkitt;
        font-size: 20px;
        color: white;
        margin-top: 20px;
        margin-left: 120px;
    }
    .p-3 .row .col-lg-7 img{
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-left: 12px;
    }
}
@media screen and   (min-width: 500px) and  (max-width: 850px)  {
    #text{
        margin-left: 213px;
        font-size: 13px;
       
    }
    .p-3{
        background-color: white;
        padding-top: 0px;
    }
    .p-3 .row{
        padding-top:0px;
    }
    .p-3 .row .col-lg-5 .text-truncate{
        font-size: 20px;
        color: #858585;
        font-weight: 800;
        font-family: Rokkitt;
        text-align: center;
    }
    .p-3 .row .col-lg-5 img{
        height: 200px;
        display: block;
        margin-left: 60px;
        margin-top: 0px;
    }
    .p-3 .row .col-lg-5 .btn-group .btn{
        background-color: #86d3ff;
        font-weight: 800;
        font-family: Rokkitt;
        font-size: 20px;
        color: white;
        position: absolute;
        top: -150px;
        left: 350px;
        width: 170px;
    }
    .p-3 .row .col-lg-7 img{
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-left: 12px;
    }
}