
.content {
    margin: 5px 0 0 0;
    width: 100%;
    height: 670px;
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
}
.content .cont-left {
    padding: 5% 5%;
}


.cont-left h1 {
    font-family: 'PT Serif', serif;
    font-size: 42px;
    opacity: 0.9;
}


.content .cont-left button#btn-register {
    margin: 80px 0 0 180px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    background-color: rgb(89, 200, 228);
    color: white;
    border-radius: 25px;
    width: 150px;
    font-size: 20px;
    height: 50px;
}
.content .cont-left button#btn-register:hover{
    background-color: #f04c36;
}
.content .cont-right {
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    /* padding: 5% 10%; */
}

.content .cont-right {
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    /* padding: 5% 10%; */
}

.content .cont-right .div_cha1 {
    width: 120px;
    height: 120px;
    position: absolute;
    /* border: 2px solid red; */
    right: 390px;
    top: 150px;
}

.content .cont-right .div_mess1 {
    width: 50px;
    height: 50px;
    position: absolute;
    /* border: 2px solid red; */
    right: 368px;
    top: 135px;
}

.content .cont-right .div_cha2 {
    width: 120px;
    height: 120px;
    position: absolute;
    /* border: 2px solid red; */
    right: 268px;
    top: 275px;
}

.content .cont-right .div_mess2 {
    width: 70px;
    height: 70px;
    position: absolute;
    /* border: 2px solid red; */
    right: 200px;
    top: 241px;
}

.content .cont-right .div_cha3 {
    width: 120px;
    height: 120px;
    position: absolute;
    /* border: 2px solid red; */
    right: 182px;
    top: 370px;
}

.content .cont-right .div_mess3 {
    width: 50px;
    height: 50px;
    position: absolute;
    /* border: 2px solid red; */
    right: 190px;
    top: 470px;
}

.content .cont-right .div_cha4 {
    width: 120px;
    height: 120px;
    position: absolute;
    /* border: 2px solid red; */
    right: 290px;
    top: 430px;
}

.content .cont-right .div_mess4 {
    width: 80px;
    height: 80px;
    position: absolute;
    /* border: 2px solid red; */
    right: 280px;
    top: 550px;
}

.content .cont-right .div_cha5 {
    width: 120px;
    height: 120px;
    position: absolute;
    /* border: 2px solid red; */
    right: 477px;
    top: 230px;
}

.content .cont-right .div_mess5 {
    width: 80px;
    height: 80px;
    position: absolute;
    /* border: 2px solid red; */
    right: 550px;
    top: 160px;
}

.content .cont-right .div_cha6 {
    width: 120px;
    height: 120px;
    position: absolute;
    /* border: 2px solid red; */
    right: 478px;
    top: 433px;
}

.content .cont-right .div_mess6 {
    width: 70px;
    height: 70px;
    position: absolute;
    /* border: 2px solid red; */
    right: 470px;
    top: 543px;
}

.content .cont-right .div_cha7 {
    width: 120px;
    height: 120px;
    position: absolute;
    /* border: 2px solid red; */
    right: 583px;
    top: 370px;
}

.content .cont-right .div_mess7 {
    width: 50px;
    height: 50px;
    position: absolute;
    /* border: 2px solid red; */
    right: 680px;
    top: 340px;
}

.content .cont-right .div_cha8 {
    width: 120px;
    height: 120px;
    position: absolute;
    /* border: 2px solid red; */
    right: 385px;
    top: 330px;
}
.content .cont-right #image {
    display: 100%;
    width: 100%;
    height: 100%;
}
